<style>
  .enter{
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .enter>h1{
    width:960px;
    margin: 250px auto;
    color:#fff;
    text-align: center;
    font-size: 140px;
    letter-spacing: 5px;
  }

  .enter>h1 .w{
    position:relative;
    -webkit-animation: w 1s;
  }
  @-webkit-keyframes w {
    from {top: 300px;opacity:0;}
    to {top: 0px;opacity:1;}
  }
  .enter>h1 .a{
    position:relative;
    -webkit-animation: a 1s;
  }
  @-webkit-keyframes a {
    from {bottom: 300px;opacity:0;}
    to {bottom: 0px;opacity:1;}
  }
  .enter>h1 .beacon{
    position:relative;
    -webkit-animation: beacon 2s ease-out;
  }
  @-webkit-keyframes beacon {
    0%{left: 300px;opacity:0;}
    50% {left: 300px;opacity:0;}
    100% {left: 0px;opacity:1;}
  }

</style>
<h1>Listing Nodes</h1>
<!-- <div class="enter">
  <h1><span class="w">W</span><span class="a">a</span><span class="beacon">Beacon</span></h1>
</div> -->
<table class="table">
  <thead>
    <tr>
      <th>Node ID</th>
      <th>Name</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= node.id %></td>
        <td><%= node.name %></td>
        <td><%= link_to 'Show Events', node_events_path(node) %> (<%= node.events.count %>)</td>
        <td><%= link_to 'Show', node %></td>
        <td><%= link_to 'Edit', edit_node_path(node) %></td>
        <td><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Node', new_node_path %>
