<h1>Listing Events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Event ID</th>
      <th>Title</th>
      <th>Content</th>
      <th>Number</th>
      <th>Creator</th>
      <th>Node</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.title %></td>
        <td><%= event.content %></td>
        <td><%= event.number %></td>
        <td><%= event.creator_id %></td>
        <td><%= event.node_id %></td>
        <td><%= event.category_id %></td>
        <td><%= link_to 'Show', node_event_path(event.node, event) %></td>
        <td><%= link_to 'Edit', edit_node_event_path(event.node, event) %></td>
        <td><%= link_to 'Destroy', node_event_path(event.node, event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_node_event_path %>
