<h1>Listing Member</h1>
<h3>
  Event ID: <%= @event.id %><br>
  Event Title: <%= @event.title %>
</h3>
<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Create Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.user_id %></td>
        <td><%= User.find(member.user_id).name %></td>
        <td><%= member.created_at %></td>
        <td><%= link_to 'Destroy', event_member_path(@event, member.user_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

