<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>
<p>
  <strong>Create Time:</strong>
  <%= @member.created_at %>
</p>

<%= link_to 'Edit', edit_event_member_path(@event, @member) %> |
<%= link_to 'Back', event_members_path %>
